annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
bcrypt==4.0.1
boto3==1.43.83
botocore==1.43.83
click==8.5.0
dnspython==2.8.0
ecdsa==0.19.2
email-validator==2.3.0
fastapi==0.141.1
greenlet==3.5.5
h11==0.16.0
idna==3.19
jmespath==1.1.0
passlib==1.7.4
pyasn1==0.6.4
pydantic==2.13.5
pydantic-settings==2.15.0
pydantic_core==2.46.5
PyMySQL==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
python-jose==3.5.0
rsa==4.9.1
s3transfer==0.19.2
six==1.17.0
SQLAlchemy==2.0.52
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.7.0
uvicorn==0.52.4
